{% extends 'base.html.twig' %}

{% block title %}Cogazer - Account{% endblock %}

{% block body %}


<div class="container my-5">
    <h1 class="my-5">{% trans %}Modification of the profile picture{% endtrans %}</h1>
        {{form_start(form)}}
        {{form_widget(form)}}
        <button type="submit" class="btn btn-primary mt-5">{% trans %}Save changes{% endtrans %}</button>
        {{form_end(form)}}
</div>



{% endblock %}
