{% extends 'base.html.twig' %}

{% block title %}
    Add an image 
{% endblock %}

{% block body %}


 
<div class="container my-5">
    <h1 class="text-center">Create a new ad</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-primary">Create new ad</button>
{{ form_end(form) }}
</div>


{% endblock %}